#!/usr/bin/make -f

UPSTREAM_GIT = git://github.com/rackerlabs/python-cloudfiles.git

include /usr/share/openstack-pkg-tools/pkgos.make

%:
	dh $@ --with python2

override_dh_clean:
	dh_clean
	rm -rf python_cloudfiles.egg-info
